/* sales.css */

/* Reset some basic styles */
body, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #f1f1f1;
    line-height: 1.6;
  }
  
  /* Navbar styles */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav input[type="file"] {
    float: right;
    padding: 14px 16px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: #f2f2f2;
    background-color: #333;
  }
  
  .topnav input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  
 /* CSS yang diperbaiki */

.topnav input[type="file"]::before {
    content: 'Upload JSON';
    display: inline-block;
    background: #f2f2f2;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none; /* Properti vendor-prefix */
    user-select: none; /* Properti standar */
    background-color: #3399FF;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: #333;
  }
  
  
  .topnav input[type="file"]:hover::before {
    border-color: black;
  }
  
  .topnav input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  }
  
  /* Content styles */
  .content {
    padding: 20px;
  }
  
  .data-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  
  #dashboardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  #dashboardContent div {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 768px) {
    #dashboardContent div {
      flex: 1 1 calc(50% - 40px);
    }
  }
  
  @media screen and (max-width: 480px) {
    #dashboardContent div {
      flex: 1 1 100%;
    }
  }
  